.recharge-wrap {
	.nav {
		padding: 15px 20px;
		font-size: 15px;
		font-weight: bold;
		color: #000000;
		background-color: #ffffff;
		border-radius: 8px;
		.myAccount {
			color: #000000;
			.returnIcon {
				position: relative;
				top: -2px;
				width: 15px;
			}
		}
	}
	.firstCol {
		display: flex;
		align-items: center;
	}
	.userInfo {
		width: 48%;
		height: 331px;
		padding: 15px 20px;
		margin-top: 10px;
		margin-right: 10px;
		background-color: #ffffff;
		border-radius: 8px;
		.title {
			font-size: 15px;
			font-weight: bold;
		}
		.content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 10px;
			margin-left: 15px;
			font-size: 14px;
		}
	}
	.enPre {
		margin-bottom: 10px;
	}
	.charge {
		width: 48%;
		height: 331px;
		padding: 15px 20px;
		margin-top: 10px;
		margin-right: 10px;
		background-color: #ffffff;
		border-radius: 8px;
		.title {
			font-size: 15px;
			font-weight: bold;
		}
		.content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 10px;
			margin-left: 15px;
			font-size: 14px;
		}
	}
	.accountInfo {
		flex: 1;
		padding: 15px 20px;
		margin-top: 10px;
		background-color: #ffffff;
		border-radius: 8px;
		.title {
			font-size: 15px;
			font-weight: bold;
		}
		.content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 10px;
			margin-left: 15px;
			font-size: 14px;
		}
	}
	.chargeTips {
		width: 100%;
		padding: 15px 20px;
		margin-top: 10px;
		background-color: #ffffff;
		border-radius: 8px;
		.title {
			font-size: 15px;
			font-weight: bold;
		}
		.content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-top: 10px;
			font-size: 14px;
		}
	}
}
