

	.prepaidCardInfo {
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	
		.banlanceWrap {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			border-right: 2px solid #1890ff;
			padding-right: 20px;
			margin-right: 20px;

			&:last-child {
				border-right: none;
			}
			.pre {
				font-size: 15px;
				font-weight: bold;
			}

			.amountWrap {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.amount {
					margin-left: 10px;
				}

				.accountIcons {
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	.actionWrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;
		margin-bottom: 15px;

		.title {
			font-size: 15px;
			font-weight: bold;
			margin-right: 10px;
		}

		.left {
			display: flex;
			align-items: center;
		}
	}
