.prepaidCardInfo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 60px;
	.banlanceWrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding-right: 20px;
		margin-right: 20px;
		border-right: 2px solid #1890ff;
		&:last-child {
			border-right: none;
		}
		.pre {
			font-size: 15px;
			font-weight: bold;
		}
		.amountWrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.amount {
				margin-left: 10px;
			}
			.accountIcons {
				width: 30px;
				height: 30px;
			}
		}
	}
}
.actionWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
	margin-bottom: 5px;
}
.left {
  display: flex;
  align-items: center;
}
.actionWrap:nth-child(3) .left {
  margin-left: 4em; /* Shift second row to the right by 3 characters */
}
.title {
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}
.addPrepaidCard {
  color: #ffffff;
}

