.forgot-password-container,
.register-container {
	width: 100%;
	.captcha-input {
		.captcha-svg {
			position: absolute;
			top: -4px;
			right: 0;
			height: 40px;
			cursor: pointer;
			svg {
				width: 100px;
				height: 40px;
			}
		}
	}
}
